.item-container, .todo-container {
    text-align: left;
}


.allrow {
    margin: 10px;
}

.allBtn {
    min-width: 80px;
}

.welcome {
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 600;
}