.appContainer {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    margin-left: 280px;

}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;

}

.post-card {
    margin: 1rem;
    max-width: 30rem;
    padding: 2rem 1rem;
}

.hashtag {
    margin: 0 5px;
}

.reactions {
    margin: 8px 0;
}

.create-post {
    max-width: 80%;
    margin: 5% 10%;
}